.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container main {
    outline: 1px solid rgb(253, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 30em;
    margin: 2em;
    box-shadow: 2px 3px 10px gray;
    border-radius: 1%;
    background-color: #fafbfb;
    transition: transform .15s;
}

.container section {
    padding: 1.5rem;
    width: 100%;
}

.link {
    color: rgb(50, 144, 50);
    font-weight: 550;;
}