.container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10rem;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 70%
}

.inputs {
    display: flex;
    justify-content: space-between;   
    margin-bottom: .5rem; 
}

input {
    width: 10rem;
}