.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container main {
    max-width: 25em;
    height: 42em;
    outline: 1px solid rgb(253, 248, 248);
    box-shadow: 2px 3px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_bottom {
    max-width: 800%;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.container_bottom div {
    padding: .5em;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 70%;
}

.container_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.title {
    font-size: 1.5rem;
    max-width: 70%;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%
}

.price p {
    font-weight: 525;
    font-size: 1.8rem;
}

.container select {
    margin-top: 0.75em;
    margin-left: 1em;
}