.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 14rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: snow;
}

.navbar_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2remrem;
}

.logo {
    max-height: 7rem;
}

.bars {
    height: 1.3rem;
    transition: transform .2s;
    transition-timing-function: ease-in-out;
}

.bars:hover {
    transform: scale(1.5);
    color: rgb(50, 144, 50);
}

.login {
    font-weight: bold;
}
